# Backend API URL (for production deployment)
VITE_API_URL=

# Vercel Postgres Database Connection String
POSTGRES_URL=

# Cloudinary Storage Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
