@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-sans antialiased overflow-x-hidden selection:bg-surface-container-high selection:text-primary;
  }
}

.gallery-matting {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .gallery-matting {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #121414;
}
::-webkit-scrollbar-thumb {
  background: #333535;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #859585;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}
